html {background-color: rgb(59, 53, 53)}
body{
  text-align : center
}
.B {
  border-radius : 20px;
  width : 120px;
  height : 70px;
  font-size : 22px;
  background-color : rgb(124, 95, 95);
  cursor : pointer;
}
.C {
  border-radius : 20px;
  width : 300px;
  height : 70px;
  font-size : 22px;
  background-color : rgb(124, 95, 95);
  cursor : pointer;
}
.I {
  height : 50px;
  width : 50px;
}
